  
    
    #main-article {



        border-right:2px solid gray;
        
        
            }
            
            #outnav {
                position: sticky;
                border-top: 5px solid #B6C0D2;
                background-color: #313C53;
                width:100%;
                height:110px;
                
            }
            
            #innav {
                position: sticky;
               
                font-size:23px;
                width:1900px;
                margin:0 auto;
                transform:translate(100px, 50px)
            }
           
             .lin a:hover {
        
            color:#FFFFFF;
            text-decoration:none;
        
           }
           
           .lin {
        
        color:#9CFF00;
            text-decoration:none;
            padding:7px;
           margin:5px;
           border-left:1px solid #9CFF00;
           float:left;
           }
        
           
        #no-border {
        border-left:none;
        
        }
        
           body {
            margin: 0;
            padding: 0;
           
        }
           
           .btitle {
        
        color:#9CFF00;
        float:left;
        margin:20px;
        transform:translate(-70px, -45px);
        
        }
           
           
        .row {
        
        margin:10px;
            height:150px;
        
        
        }
        
        
        ol {
        
        list-style-type:none;
        float:left;
        }
        
        .side {
            float:right;
        height:auto;
        width:50px;
        }
        
        
        #side-articles {
        
        font-size:15px;
        width:100px;
        }
        
        #side-articles h1 {
        
        font-size:20px;
        
        }
        
        .sized {
        
        width:100px;
        
        }
        
        
        
        form {
            float:left;
          width:350px;
        margin:5px;
        
        
        }
        
        input {
           float:left;
            width:50px;
        }
            #enter1 {
                background-color:#B6C0D2;
                float:right;
                margin:0px;
                width:50px;
                transform:translate(70px, -42px);
                border:none;
            }
        
        .display-4 {
        
        font-size:50px;
        color:#9CFF00;
        }
        
        
        .jumbotron {
        
        background-color:#1C263C;
        height:620px;
        color:#B6C0D2;
        }
        
        
        .si-art {
        
        color:#455268;
        
        }